@font-face{
  font-family: "SawarabiGothic-Regular";
  src: url("/font/SawarabiGothic-Regular.ttf") format("truetype");
}

 #app {
  background: url("https://i.imgur.com/2YL0NLM.png") no-repeat left bottom;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  cursor: url("https://i.imgur.com/9CcmlnB.png") 20 20, auto;
}

.container:active {
  cursor: url("https://i.imgur.com/dDPydXh.png") 20 20, auto;
}

.scoreBoard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.countDown {
  height: 122px;
  width: 124px;
  align-self: center;
}

.timer {
  height: 57px;
  width: 350px;
  border-radius: 4%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://i.imgur.com/kq7eLWq.png');
}

.time {
  margin-left: 54%;
  margin-top: 5px;
  color: white;
  font-family: 'SawarabiGothic-Regular', Fallback, sans-serif;
  font-size: 30px;
}

.score {
  height: 57px;
  width: 350px;
  border-radius: 4%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://i.imgur.com/Hoofmzg.png');
}

.points {
  margin-left: 54%;
  margin-top: 5px;
  color: white;
  font-family: 'SawarabiGothic-Regular', Fallback, sans-serif;
  font-size: 30px;
}



.start {
  background-size: cover;
  background-repeat: no-repeat;
  background: url('https://i.imgur.com/lGTvUNU.png');
  height: 200px;
  width: 300px;
  align-self: center;
}

.mole-grid {
  align-self: center;
  margin-bottom: 100px;
  width: 75vw;
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.hole {
  height: 150px;
  width: 150px;
  margin: 0 80px;
  background-image:url(
"https://i.imgur.com/bl4VaaU.png");
}

.gameOverContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: .9;
}
.gameOver {
  background: url("https://i.imgur.com/NTAadJQ.png");
  background-repeat: no-repeat;
  height: 220px;
  width: 1130px;
}

.gameOverScore {
  font-size: 50px;
  color: yellow;
  font-family: 'SawarabiGothic-Regular', Fallback, sans-serif;
}

.difficulty {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right:3rem;
  z-index: 9999;
}

.simple {
  background: url("https://i.imgur.com/kugMMfs.png");
  height: 156px;
  width: 156px;
  background-repeat: no-repeat;
}

.normal {
  background: url("https://i.imgur.com/wDP7AI7.png");
  height: 156px;
  width: 156px;
  background-repeat: no-repeat;
}

.heavy {
  background: url("https://i.imgur.com/ja1fVub.png");
  height: 156px;
  width: 156px;
  background-repeat: no-repeat;
}
