/* .container {
  display:flex;
  width: 2000px;
}
 */
 #app {
  background: url("https://i.imgur.com/2YL0NLM.png") no-repeat left bottom;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  cursor: url("https://i.imgur.com/9CcmlnB.png") 20 20, auto;
}

.container:active {
  cursor: url("https://i.imgur.com/dDPydXh.png") 20 20, auto;
}

.score-grid {
  display:flex;
  align-self: center;
  width: 20vw;
  justify-content: space-evenly;
}

.score {
  
}

.start {
  background-color: Pink;
  align-self: flex-end;
  height: 100px;
  width: 200px;
  margin-top: 30px;
  border-radius: 20%;
  text-align: center;
}

.mole-grid {
  align-self: center;
  margin-bottom: 100px;
  width: 75vw;
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.hole {
  height: 150px;
  width: 150px;
  margin: 0 80px;
  background-image:url(
"https://i.imgur.com/bl4VaaU.png");
}
